/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Header
- Introduction
- Gallery
- Details 1
- Services
- Details 2
- Invitation
- Projects
- Testimonials
- Contact
- Footer
- Copyright
- Back To Top Button
- Extra Pages
- Media Queries-- Included in each section
******************************************/

/*****************************************
Colors:
******************************************/

/**************************/
/*     General Styles     */
/**************************/
* {
	margin: 0;
	padding: 0;
	outline: 1px solid black;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body,
html {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

body,
p {
	color: black;
	font: 400 1rem/1.625 'Open Sans', sans-serif;
}

/**************************/
/*     Header & Carousel  */
/**************************/

.carousel-inner,
.carousel-item,
.carousel-item.active {
	height: 100vh;
}

.carousel-item:nth-child(1) {
	background-image: url('../images/20171220_033.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.carousel-item:nth-child(2) {
	background-image: url('../images/20171220_033.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.carousel-item:nth-child(3) {
	background-image: url('../images/20171220_033.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.carousel-item:nth-child(4) {
	background-image: url('../images/20171220_033.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.content {
	width: 90%;
}

@media (min-width: 992px) {
	#headerCarousel {
		margin-top: 3.8rem;
	}

	.carousel-inner,
	.carousel-item,
	.carousel-item.active {
		height: 50vh;
	}
	.content {
		width: 50%;
	}
}

/**************************/
/*     Introduction  */
/**************************/

/**************************/
/*     Image Gallery  */
/**************************/

.gallery {
	width: 100%;
	height: 150rem;

	

	
}
/*
.image-1,
.image-3 {
	width: 41.6rem;
	height: auto;
}

.image-2 {
	width: 41.6rem;
	height: 23.4rem;
}
*/