/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Header
- About
- Gallery
- Services
- Testimonials
- Call To Action
- Modal
- Contact
- Footer
- Copyright-- Listed in footer
- Back To Top Button-- Navigation included in footer
- Media Queries-- Included in each section
******************************************/

/*****************************************
Colors:
******************************************/

/**************************/
/*     General Styles     */
/**************************/
* {
	margin: 0;
	padding: 0;
	//outline: 1px solid white;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body,
html {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: #27130f;
}

body,
p {
	color: #d9d9d9;
	font: 400 1rem/1.625 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font: 400 1rem/1.625 'Satisfy', cursive;
}
.hr {
	margin: auto;
	width: 90%;
	height: 0.1rem;
	background-color: gray;
}

/**************************/
/*    Navigation  */
/**************************/
nav {
	height: 5.5rem;
}

.bg-dark {
	background-color: #27130f !important;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar .navbar-toggler {
	border-color: white !important;
}

.text-dark {
	color: #27130f !important;
}

.btn-dark {
	background: #27130f !important;
}

/**************************/
/*     Header & Carousel  */
/**************************/

.carousel-inner,
.carousel-item,
.carousel-item.active {
	height: 35rem;
}

.carousel-item:nth-child(1) {
	background-image: url('../images/HeaderCarousel/jennifer-bedoya-5jySMpqi6xk-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.carousel-item:nth-child(2) {
	background-image: url('../images/HeaderCarousel/jessica-felicio-F16KPYxfm6s-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.carousel-item:nth-child(3) {
	background-image: url('../images/HeaderCarousel/eye-for-ebony-QhoDs-dFIdE-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.carousel-item:nth-child(4) {
	background-image: url('../images/HeaderCarousel/pexels-godisable-jacob-897314.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% center;
}

.custom-indicators li {
	border-top: 3px solid transparent !important;
}

.custom-indicators li.active {
	background-color: #a62217 !important;
	font-weight: 700;
}

.carousel-item .bg-dark {
	background-color: #552418 !important;
}

.opacity-75 {
	opacity: 0.6 !important;
}

.bg-body-tertiary {
	background-color: #faf4f0 !important;
}
.nav-pills {
	margin-right: 4px !important;
}
.nav-pills > .active {
	border: 2px solid #811a12 !important;
	border-radius: 10px !important;
}

.carousel .bg-dark {
	background-color: #552418 !important;
}

@media screen and (min-width: 992px) {
	#headerCarousel {
		margin-top: 3.8rem;
	}

	.carousel-inner,
	.carousel-item,
	.carousel-item.active {
		height: 53rem;
	}
}

@media screen and (min-width: 1200px) {
	.carousel-inner,
	.carousel-item,
	.carousel-item.active {
		height: 60rem;
	}

	.carousel-caption {
		top: auto;
		bottom: 15%;
	}

	.carousel-caption h2 {
	}
}

/**************************/
/*     About  */
/**************************/
.intro .bg-light {
	background-color: transparent !important;
}

/**************************/
/*     Image Gallery  */
/**************************/

.gallery {
	width: 100%;
	height: auto;
	padding: 8rem 0;
	background-image: url('/images/Backgrounds/abstract-dark-red-paper-cut-wave-background/paper_cut_wave.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.gallery-content swiper-container {
	width: 100%;
	padding-top: 5rem;
	padding-bottom: 5rem;

	--swiper-navigation-color: #ca9269;
}

.gallery-content swiper-container .swiper-slide {
	background-position: center;
	background-size: cover;
	width: 30rem;
	height: 30rem;
}

.gallery-content .swiper-slide img {
	width: ;
}

.gallery-content .gallery-slider [class^='swiper-button-'] {
	top: initial;
	bottom: 0;
	width: 5rem;
}

/**************************/
/*     Services */
/**************************/

/**************************/
/*     Testimonials */
/**************************/
.testimonials-content .bg-light {
	background-color: #552418 !important;
}

.testimonials-content .btn-light {
	background-color: #73939e !important;
	color: white !important;
}

/**************************/
/*     Call To Action  */
/**************************/
.cta {
	background-image: url('/images/Backgrounds/abstract-dark-red-paper-cut-wave-background/paper_cut_wave.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cta .btn-primary {
	background-color: #73939e !important;
}

/**************************/
/*     Modal */
/**************************/
.modal-content .modal-header .modal-title {
	font-size: 1.8rem !important;
}
.form-control {
	background-color: inherit;
	color: #585b5f !important;
}

::placeholder {
	color: gray !important;
}

.form-select {
	background-color: inherit;
	color: gray !important;
}

/**************************/
/*     Contact */
/**************************/
.contact .bg-dark {
	background-color: #27130f !important;
}

.contact .contact-icon {
	color: white;
}

/**************************/
/*     Footer */
/**************************/
.footer hr {
	width: 90%;
	height: 0.1rem;
	background-color: gray;
}
